@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: rgb(245,246,247);
    --principal-logo-color: #0f7abe;
    --secondary--logo-color: #eb1b08;
    --white-color: #fff;
    --box-shadow-button: rgb(209, 195, 195);

    /*Variables de medidas:*/
    --width-90: 90%;
    --padding-section-card: 25px;
    --margin-top-section: 30px;
    --card-width: 300px;
    --card-height: 400px;
    --padding-text-inside: 12px;
}

body{
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 10px 15px 0 10px;
    background-color: #fff;
    
}
/* Clase madre del nav. Aquí definiremos flex-column para movil y row para desktop  */
nav{
    display: flex;
    flex-direction: column; 
}
/* Clase secundaria del nav, aquí guardaremos el logo como el boton hamburguesa para movil, con un display en row*/

.nav-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo, dentro de la clase secundaria del nav: nav-main*/

.nav-main .nav-logo img{
    width: 200px;
    
}

/* Botón hamburguesa, dentro de la clase secundaria del nav: nav-main*/

.nav-button{
    width: 50px;
    height: 35px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 5px var(--box-shadow-button);
}

/* Diseño del botón hamburguesa, las tres lineas que lo conforman */

.nav-button .up-line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--principal-logo-color);
    margin-bottom: 8px;
    transition: transform .3s ease;
    
}
.nav-button .middle-line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--principal-logo-color);
    margin-bottom: 8px;
    transform: translateX(10px);
    transition: transform .3s ease;
}
.nav-button .bottom-line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--principal-logo-color);
    transition: transform .3s ease;
}
/* Animación del botón menú hamburguesa */

.nav-button:hover .up-line{
    transform: translateX(10px);
}
.nav-button:hover .middle-line{
    transform: translateX(0);
}
.nav-button:hover .bottom-line{
    transform: translateX(10px);
}

.nav-button:active{
    box-shadow: 1px 1px 5px var(--secondary--logo-color);
}

/* +++++++++++++++++++++++++++++++++++++ */

/* Nav-menú, dentro de la clase madre del nav, tendrá dentro de sí un UL con un display flex column en movil y row en desktop*/

.nav-menu{
    background-color: var(--white-color);
}

/* El menú por defecto en movil estará escondido para aparecer al clickear el boton hamburguesa*/

.nav-menu .links-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 0;/* Al estar activo el menú su tamaño no será 0*/
    overflow: hidden;
    transition: all .5s ease;
    background-color: var(--white-color);
    font-size: 18px;
}   

.nav-menu .links-menu li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    transition: all .2s ease-in;
} 

.nav-menu .links-menu li:hover{
    cursor: pointer;
    background-color: var(--body-color);
    color: var(--principal-logo-color);
   
    font-size: 21px;

}

/* Clase para activar el menú  y añadirla desde JS */

.nav-menu .links-menu.activo{
    height: 13rem;
    
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Creando el mediascreen para la versión desktop del menú.*/

@media screen and (min-width: 900px) {
    header{
        box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
    }

    nav {
        flex-direction: row;
    }

    .nav-main {
        width: 50%;
        padding-left: 70px;
    }

    .nav-button{
        display: none;
    }

    .nav-menu{
        width: 50%;
        padding-right: 50px;
    }

    .nav-menu .links-menu{
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-menu .links-menu li{
        margin-left: 10px;
    }

    .nav-menu .links-menu li:hover{
        background-color: var(--white-color);
        font-size: 18px;
    }

}

@media screen and (min-width: 1100px){
    .nav-menu .links-menu{
        justify-content: flex-end;

    }
    .nav-menu .links-menu li{
        margin-left: 40px;
    }
}

/* +++++++++++++++++++++++++ Fin del media screen ++++++++++++++++++++++++++ */

/*  Comenzamos a estilar la cabecera principal */

.cabecera-principal {
    width: 100%;
    height: 70vh;
    background-image: url('../imagenes/fondo-cabecera.jpg');
    background-size: cover;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecera-principal h1{
    font-family: 'Akshar', sans-serif;
    font-size: 45px;
    text-align: center;
    color: var(--white-color);
    text-shadow: 2px 1px 1px black;
}

.cabecera-principal p {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: var(--white-color);
    text-shadow: 2px 1px 1px #000;
}


/*  Sección para la primer card*/

.second-title{
    text-align: center;
    margin: var(--margin-top-section);
}

.first-div-creator{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: var(--width-90);
    max-width: 1400px;
    background-color: var(--white-color);
    padding: var(--padding-section-card);
    margin: auto;
    margin-top: var(--margin-top-section);
    margin-bottom: var(--margin-top-section);
}



/* Primera card: Simple card styles*/
.simple-card{
    width: 100%;
    max-width: var(--card-width);
    max-height: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 2px 10px 1px #808080;
    overflow: hidden;
    background-color: inherit;
}


.img-container{
    width: 100%; 
    
}

.img-container img{
    width: 100%;
   
}

.third-title {
    text-align: center;
    padding: var(--padding-text-inside);
}

.p-card{
    padding: 0 var(--padding-text-inside) var(--padding-text-inside) var(--padding-text-inside);
    text-align: center;
}

.read-more{
    display: block;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: var(--padding-text-inside);
}

/* Styles-controls*/

.card-controls{
    margin-top: 40px;/*Esto hay que borrarlo en el modo desktop*/
    width: 100%;
    max-width: 500px;
}

@media screen and (min-width: 960px) {
    .card-controls{
        margin-top: 0;
    }
}

.title-controls{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--padding-text-inside);
}



.title-controls__btn{
    padding:  4px;
    background-color: var(--secondary--logo-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    font-size: 15px;
    transition: all .3s ease;
}

.title-controls__btn:hover{
    cursor: pointer;
    background-color: var(--white-color);
    outline: 1px solid var(--secondary--logo-color);
    color: #000;
}

/* Contenedor de los estilos de estructura -Border-radius, box-shadow, paddings-*/
.structure-styles{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Border-radius */

.structure-p{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--padding-text-inside);
}


.border-radius-container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--padding-text-inside);
}

.border-radius-container input{
    width: 40px;
    margin: auto;
}

/* Box-shadow */

.box-shadow-container{
    margin-top: var(--padding-text-inside);
}

.input-shadow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-shadow-container label{
    text-align: center;
}

.box-shadow-container #color{
    margin: auto;
    margin-bottom: var(--padding-text-inside);
}

.box-shadow-container input{
    margin-bottom: var(--padding-text-inside);
}

/* Padding-text */

.padding-text{
    margin-top: var(--padding-text-inside);
}

.structure-label{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}

.padding-text form{
    display: flex;
    flex-direction: column;
}




















































